html, body {
	margin: 0; 
	padding: 0;
}

#header{
    border: 2px solid black;
}

footer{
    border: 2px solid black;
}

.typer-component{
    display: inline-block;

}

.pull-right{
    float: right;
}

/* .active {
    border-bottom: 4px solid #D4AF37;
} */

#nav {
    margin-top: 0;
    display: inline-block;
}

/* #nav ul {
    font-size: 0;
} */

.portfolio{
    list-style: none;
}

#nav .nav-default li a {
    text-decoration: none;
    font-weight: 800;
    color: #000;
    font-size: 13px;
    padding: 93px 32px 40px;
}
