*{
    box-sizing: border-box;
}
html, body {
	margin: 0; 
    padding: 0;
    height: 100%;
}
body { 
    padding-bottom: 70px; 
}
.navbar {
    margin-bottom: 0;
    min-height: 70px;
}
#top {
	background: #191A19;
	color: white;
    text-align: center;
    margin-bottom: 0;
}
#top p {
	color: white;
    font-size: 26px;
    line-height: 26px;
}
.btn-primary {
	color: #fff;
	background-color: black;
	border-color: #bf9b30;
	margin-bottom: 5px;
}
#hire:hover{
    background-color: transparent; 
}
.btn-primary:hover {
	color: black;
	background-color: white;
	border-color: #bf9b30;
}
.navbar-inverse {
	background: #000000;
    border: 0;
    opacity: 0.5;
}
.navbar-inverse .navbar-nav li a {
	color: #f7f7f7;
	font-size: 16px;
}
.navbar-inverse .navbar-nav li a:hover {
    border-bottom: thick solid #bf9b30;
}
.navbar-inverse .navbar-brand {
    color: #fff;
    font-family: 'Dancing Script', 'Arial', cursive;
    font-size: 25px;
}
.navbar-default {
    background-color: #f8f8f8;
    border-color: #bf9b30;
}
#projects {
    text-align: center;
    background: #000000;
    height: 500px;
    overflow: auto;
    padding-bottom: 50px;
    min-height: 100vh;
    
}
#projects p {
	margin-bottom: 30px;
    font-family: sans-serif;
    color: white;
}
#top .h1, #top h1{
    font-size: 55px;
}
    
.fadein-fast {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;
}
p {
    display: block;
}

h3, alt {
    color: white;
}
.typer-component {
    top: 20px;
    position: absolute;
    bottom: 0;
    clear: left;
    color: black;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 25px;
}
.social-box {
    list-style-type: none;
    display: flex;
}
.pull-right {
    float: right !important;
}
.pull-left {
    float: left !important;
}
.icon {
    color: #191A19;
    font-size: 2em;
}
#top{
    background-image: url(../img/coffe-mac-copy-op.png);
    padding: 10em 0;
    background-size: cover;
}
img{
    max-width: 100%;
    height: auto;
}

.card-block{
    margin: 25px 10px;
    
}
.row-m-t{
    margin-top : 100px;
  }
  #projects h3{
	color: white;
    font-size: 26px;
    line-height: 30px;
    text-decoration: underline;
    letter-spacing: 1px;
}
#projects img{
        margin-top: 10px;
        width: 430px;
        height: 190px;
}
#projects p {
	color: white;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1px;
}
hr {
	border-top: 1px solid #bf9b30;
    border-bottom: 1px solid #8c8b8b;
    display: block;
    margin-top:82px; 
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.white {
    font-size: 4.1em;
    margin-bottom: .65em;
    color: white;
    letter-spacing: .03em;
    margin-top: 0;
    text-align: center;
    font-weight: normal;
    font-family: "Novecento Sans Wide Demibold", Helvetica, Arial, sans-serif;
    line-height: 1;
}
/*Contact */
#contact{
    background-color: #bf9b30;
    padding: 10px 0 10px;
  }

  .contact-text{
    margin:45px auto;
  }

/* Contact Form */

  #contact .contact-form{
    margin: 0 auto;
    padding:25px 25px 0px 25px;
  }

  .mail-message-area{
    width:100%;
    padding:0 15px;
  }

  .mail-message{
    width: 100%;
    background:rgba(255,255,255, 0.8) !important;
    transition: all 0.7s;
    margin:0 auto;
    border-radius: 0;
  }

  .not-visible-message{
    height:0px;
    opacity: 0;
  }

  .visible-message{
    height:auto;
    opacity: 1;
    margin:25px auto 0;
  }

/* Input Styles */

  .form{
  	z-index: 1000;
    width: 100%;
    padding: 15px;
    background:#F3F3F0;
    border:1px solid rgba(0, 0, 0, 0.075);
    margin-bottom:25px;
    color:#727272 !important;
    font-size:13px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }

  .form:hover{
    border:1px solid #8BC3A3;
  }

  .form:focus{
    color: white;
    outline: none;
    border:1px solid #8BC3A3;
  }

  .textarea{
    height: 200px;
    max-height: 200px;
    max-width: 100%;
  }
  .section {
    padding: 6em 0;
}
.container .bottom {
    
}
  
/* Generic Button Styles */

  /* .button{
    padding:8px 12px;
    background:#0A5175;
    display: block;
    width:120px;
    margin:10px 0 0px 0;
    border-radius:3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-align:center;
    font-size:0.8em;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  }

  .button:hover{
    background:#8BC3A3;
    color:white;
  } */
